<!---->
<launch>

<!-- world to map tf -->
<node pkg="tf"  type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10" />

<!-- map to mobility tf -->
<node pkg="tf"  type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 10" />

<!-- map to localization -->
<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_localization" args="0 0 0 0 0 0 /map /localization 10" /> -->

<!-- ego_vehicle to base_link tf -->
<node pkg="tf"  type="static_transform_publisher" name="localization_to_base_link" args="0 0 0 0 0 0 /localization /base_link 10" />

<node pkg="tf"  type="static_transform_publisher" name="localization_to_novatel" args="0 0 0 0 0 0 /localization /novatel 10" />

<!-- ego_vehicle/gnss to gps tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclegnss_to_gps" args="0 0 0 0 0 0 /ego_vehicle/gnss/gnss1 /gps 10" />

<!-- ego_vehicle/lidar to velodyne tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclelidar_to_velodyne64" args="0 0 0 0 0 0 /ego_vehicle/lidar/lidar1 /velodyne 10" />

<!-- ego_vehicle/cameraFront to camera tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclecamerafront_to_camera" args="0 0 0 0 0 0 /ego_vehicle/camera/rgb/front /camera 10" />

<!-- ego_vehicle/fakerdar to fakeradar tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclefakeradar_to_fakeradar" args="0 0 0 0 0 0 /ego_vehicle/fakeradar /fakeradar 10" />
</launch>

